@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url("joinForm.css");
@import url("waittingRoom.css");

:root {
  --bg-color: #1e1e2f;
  --wall-color: #3a3a4f;
  --block-color: #6b6bb5;

  --player1-color: #ff7b7b;
  --player2-color: #70e1d6;
  --player3-color: #fff07d;
  --player4-color: #d1b3ff;

  --bomb-color: #4a4d55;
  --explosion-color: #ff6e6e;
  --powerup-color: #00d6a0;

  --text-color: #f7f7f7;
  --button-color: #3f7ff3;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  width: 100%;
}